/* Normalise css */
html,body{
    background-color: black;
    margin: 0;
    padding: 0;
    font-family:Helvetica, Arial, sans-serif;
}

.container{
    width: 100%;
    max-width:1230px;
    margin: 0px auto;
}

*::-webkit-scrollbar{
    display: none;
}
/* Header Css
 */
 header{
    background-color: transparent;
    position: fixed;
    left:0;
    top:0;
    width: 100%;
    z-index:2;
    transition: all ease 600ms;
 }

 .header-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }

 header.black-bg{
    background-color: rgb(20, 20, 20);
}
 .left-cont,.right-cont{
    display: flex;
    flex-direction: row;
    align-items: center;

 }

 .brand{
    max-width: 100px;
 }
.main-nav{
    list-style: none;
    display: inline-flex;
    flex-direction: row;
}
 .nav-item{
    color:#e5e5e5;
    margin-left:20px;
    opacity: 0.83;
    cursor: pointer;
 }

 .nav-item.active{
    color:white;
    opacity: 1;
    font-weight: 600;
 }
 .right-cont img, .right-cont svg{
    margin-right: 22px;
    cursor: pointer;
 }
 .right-cont svg{
    color:white;
 }

 .right-cont img{
    max-width: 36px;
 }

 .search-input{
    border-radius: 0;
    font-size: 16px;
    padding: 4px .5em;
    width: 6em;
    color: #fff;
    background: transparent url(https://assets.nflxext.com/ffe/siteui/akira/fallback/secondary_button_hover_background.png) repeat;
    border: 1px solid #ccc;
    float: right;
    margin: 0 20px 0 0;
    display:none;
 }

 #hamburger-icon{
    display: none;
 }

 .vertical-cont{
    display: none;
    background: black;
    color: grey;
    position: absolute;
    top: 60px;
    left: 0px;
    padding: 5px 10px;
    display: none;
    overflow-x: hidden;
    overflow-y: auto;
    height:98vh;
}
.profile{
    display: flex;
}
.userInfo{
    line-height: 0em;
    padding: 0px 8px;
}

.account-menu{
    border-bottom: 1px solid #333;
}
.account-menu ul,.netflix-menu ul{
    list-style: none;
    line-height: 1.6em;
    padding: 0px 0px;
    font-weight: 700;
}

.netflix-menu ul{
    line-height: 2em;
}
 /* Movie Section CSS */
.movie-section{
  margin: 41px 0px;
}
.movie-section-heading{
  font-size: 20px;
  color: white;
  font-weight: 700;
  line-height: 1.2;
  cursor: pointer;
}
.explore-nudge{
   color:#54b9c5;
   font-size:12px;
   display: none;
}
.movie-section-heading:hover .explore-nudge{
   display: inline-block;
 }

 .movies-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x:auto;
    overflow-y: hidden;
 }
.movie-item{
    width: 245px;
    object-fit: contain;
    margin-right: 6px;
    border-radius: 4px;
    position: relative;
}

.movie-item-img{
    width: inherit;
}

.movie-item iframe{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 50%;
    z-index:15;
    display: none;
    border: none;
    outline: none;
}

.movie-item:hover iframe{
    display: block;
}

.movie-item:hover{
    transform: scale(1.2);
    transition: tranform ease-in 1s;
}

.movie-item-info{
    padding: 16px;
    position: relative;
}
.movie-item-buttons{
    display: flex;
    justify-content: space-between;
}
.movie-item-action-button{
    border-radius: 23px;
    padding: 4px;
    border: none;
    margin-right: 7px;
}

.movie-item-action-button-2{
    border-radius: 23px;
    padding: 3px;
    background-color: rgba(42, 42, 42, .6);
    border: 2px solid hsla(0, 0%, 100%, 0.7);
    color:white;
    margin-right: 7px;
    cursor: pointer;
}
.movie-item-info div{
    color:white;
    font-size: 13px;
}
.movie-item-releaseInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.movie-item-rating{
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Banner Section */
.banner-section{
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 98vh;
    position: relative;
    padding-top: 70px;
}
.banner-content{
    display: flex;
    flex-direction: column;
    padding-top: 70px;
}

.banner_title{
    color: white;
    font-size: 78px;
    line-height: 1.1;
    margin:0;
    margin-bottom:16px;
    max-width: 50%;
}

.banner_info{
  margin-bottom: 14px;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.5;
  color: white;
}

.banner_overview{
  font-size: 16.4px;
  color:white;
  line-height: 1.33;
  max-width: 50%;
}

.action-button-cont{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.action-button{
    border: none;
    background-color: white;
    padding: 8px 23px;
    margin-right:11px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-weight: 700;
    align-items: center;
    cursor: pointer;
}

.action-button:last-child{
    background-color: rgba(109, 109, 110, 0.7);
    color: white;
}

.banner_fadebottom{
    height: 120px;
    background:linear-gradient(180deg,
        transparent,
        rgba(37,37,37,.61),
        #141414
    ); 
    position: absolute;
    left:0;
    bottom: 0;
    width: 100%;

}

.more-info-section{
    background: linear-gradient(0deg, #181818, transparent 50%);
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    box-sizing: inherit;
    letter-spacing: 0 !important;
    color: #fff;
    font-size: 16px;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    /* display: none; */
    z-index:12;
    transition: all 1s ease-in;
}
.more-info-banner{
    border: 0;
    width: 850px;
    height: 470px;
    margin: 15px auto 0px auto;
    display: block;
    top:0px;
    position: relative;

}

.more-info-title{
    position: absolute;
    top: 30%;
    left: 23vw;
    font-size: 2em;
}
.more-info-banner-inner-overlay{
    position: absolute;
    bottom: 25%;
    left: 14em;
    position: absolute;
    width: 65%;
    display: flex;
    justify-content: space-between;
}
#more-info-action-button{
    color:black;
    background-color: white;
}

.more-info-button-left-cont{
    position: relative;
    left: 2em;
}
.more-info-button-right-cont{
    display: inline-block;
}

.more-info-close-btn{
    position: absolute;
    top: 6%;
    margin: 0px auto;
    left: 79%;
    background: black;
    padding: 10px;
    border: none;
    border-radius: 54px;
}

.more-info-close-btn svg{ 
    height: 18px;
    width: 18px;
}

.more-info-movie-content{
    width: 850px;
    margin: 0px auto;
    background-color: black;
}

.more-info-movie-details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em 34px 2em 34px;
}

.more-info-movie-details-left{
    width: 64vw;
}
.more-info-movie-releaseDetails{
    display: flex;
    flex-direction: column;
}

.more-info-related-movies{
    margin: 0px 2.5em;
}


.related-movie{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height:20em;
    width: 18vw;
    background: #141414;
    border-radius: 8px;
    position: relative;
}

.related-movie-more-info{
    position: relative;
    top:18%;
}

.related-movie img{
    border-radius: 8px 8px 0px 0px;
    position: absolute;
    width: 100%;
    top: 0px; 
}
.related-movies-section{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 15px;
}
.related-movie-releaseDetails{
    color: #d2d2d2;
    margin: 0;
    padding: 0 1em 1em;
}

.releated-movie-upperDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.related-movie-releaseDetails #title{
    margin: 0px 0px;
    font-weight: bold;
}

.related-movie-item-rating{
    display: flex;
}

/* settings popup */
.settings-btn{
    position: relative;
}
.settings-popup{
    width:220px;
    display: none;
    position: absolute;
    top:50px;
    right:23px;
    background-color: black;
}
.settings-popup-innerdiv{
    display: flex;
    flex-direction: column;
    color:white;
    padding: 0px 20px;
    
}

.setting-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    
}

.setting-menu svg{
    color: #b3b3b3;
}

.setting-menu p{
    padding: 0px 8px;
    font-size: 13px;
}
.setting-menu p:hover{
   text-decoration: underline;
}
.settings-popup  button{
    background-color: black;
    color: white;
    border: none;
    border-top: 1px solid whitesmoke;
    width: 100%;
    padding: 10px;
    cursor: pointer;
}

/* profile section  */
.profile-section{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: black;
    top:0;
    z-index:20;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.profile-section-innerdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-section-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 400px;
}

.profile-menu{
    padding: 0px 20px;
    cursor: pointer;
}

#profile-section-heading{
    font-size: 3.5vw;
    font-weight: unset;
    color: #fff;
    outline: none;
}

.profile-icons{
    position: relative;
}
.profile-icons img{
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    height: 10vw;
    max-height: 200px;
    max-width: 200px;
    min-height: 84px;
    min-width: 84px;
    position: relative;
    text-decoration: none;
    width: 10vw;
    opacity: 0.5;
}

#profile-icon-img-div:hover{
    background-color: white;
}

.profile-icons svg{
    height: 3rem;
    max-height: 70px;
    max-width: 70px;
    width: 3rem;
    color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto auto;
    left: 2.5rem;
}

.profile-name{
    color: grey;
    display: block;
    font-size: 1.3vw;
    line-height: 1.2em;
    margin: .6em 0;
    min-height: 1.8em;
    overflow: hidden;
    text-align: center;
}

#profile-icon-img{
    border-radius: 90px;
    background: white;
    padding: 35px;
    transform: scale(-0.5);
}

.profile-button{
    background: #fff;
    border: 1px solid #fff;
    color: #000;
    font-weight: 500;
    cursor: pointer;
    display: block;
    font-size: 1.2vw;
    margin: 2em 0 1em;
    padding: .5em 1.5em;
}

.profile-button:hover{
    background-color: red;
    color:white;
}

#manage-profile-button{
    display: none;
    background-color: black;
    color: grey;
    border: 1px solid grey;
}

#manage-profile-button:hover{
    color: white;
    border: 1px solid white;
}
 /* responsive css */
 @media screen and (max-width:767px) {
    .container{
        width: 98vw;
     }
 }

 @media screen and (max-width:767px) {
    .main-nav{
       display: none;
    }
    .banner_overview,.banner_title{
        max-width: 100%;
    }
 }

 @media screen and (max-width:480px) {
    .container{
       width: 96vw;
       margin: 0px auto;
    }
    .banner-section{
        display: none;
    }
    .movie-section {
        margin: 80px 0px;
    }
    #hamburger-icon {
        display: block;
        transform: scale(0.5);
    }
    .right-cont svg,#settings-btn{
        display: none;
    }
    .movie-item-action-button,.movie-item-action-button-2{
        padding: 2px;
    }
    .movie-item {
        width: 200px;
    }
    .search-input{
        display: block;
    }
 }