/* Normalise css */
html,body{
    background-color: black;
    margin: 0;
    padding: 0;
    font-family:Helvetica, Arial, sans-serif;
}

.container{
    width: 100%;
    max-width:1230px;
    margin: 0px auto;
}

*::-webkit-scrollbar{
    display: none;
}
/* Header Css
 */
 header{
    background-color: transparent;
    position: fixed;
    left:0;
    top:0;
    width: 100%;
    z-index:2;
    transition: all ease 600ms;
 }

 .header-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }

 header.black-bg{
    background-color: rgb(20, 20, 20);
}
 .left-cont,.right-cont{
    display: flex;
    flex-direction: row;
    align-items: center;

 }

 .brand{
    max-width: 100px;
 }
.main-nav{
    list-style: none;
    display: inline-flex;
    flex-direction: row;
    /* display: none; */
}
 .nav-item{
    color:#e5e5e5;
    margin-left:20px;
    opacity: 0.83;
    cursor: pointer;
 }

 .nav-item.active{
    color:white;
    opacity: 1;
    font-weight: 600;
 }
 .right-cont img, .right-cont svg{
    margin-right: 22px;
    cursor: pointer;
 }
 .right-cont svg{
    color:white;
 }

 .right-cont img{
    max-width: 36px;
 }


 /* Movie Section CSS */
.movie-section{
  margin: 41px 0px;
}
.movie-section-heading{
  font-size: 20px;
  color: white;
  font-weight: 700;
  line-height: 1.2;
  cursor: pointer;
}
.explore-nudge{
   color:#54b9c5;
   font-size:12px;
   display: none;
}
.movie-section-heading:hover .explore-nudge{
   display: inline-block;
 }

 .movies-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x:auto;
    overflow-y: hidden;
 }
.movie-item{
    width: 245px;
    object-fit: contain;
    margin-right: 6px;
    border-radius: 4px;
    position: relative;
}

.movie-item-img{
    width: inherit;
}

.movie-item iframe{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index:10;
    display: none;
    border: none;
    outline: none;
}

.movie-item:hover iframe{
    display: block;
}

.movie-item:hover{
    transform: scale(1.2);
    transition: tranform ease-in 1s;
}

.movie-item-info{
    padding: 16px;
    position: relative;
}
.movie-item-buttons{
    display: flex;
    justify-content: space-between;
}
.movie-item-action-button{
    border-radius: 23px;
    padding: 4px;
    border: none;
    margin-right: 7px;
}

.movie-item-action-button-2{
    border-radius: 23px;
    padding: 3px;
    background-color: rgba(42, 42, 42, .6);
    border: 2px solid hsla(0, 0%, 100%, 0.7);
    color:white;
    margin-right: 7px;
    cursor: pointer;
}
.movie-item-info div{
    color:white;
    font-size: 13px;
}
/* .movie-item-info div span::before{
    color: #646464;
    content: "\2022";
    display: inline-block;
    padding-right: .5vw;
} */

.movie-item-releaseInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.movie-item-rating{
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* .movie-item-detail-info-modal{
    position: absolute;
    margin:auto;
    left:50%;
    top:50%;
    width: 80vw;
    background-color: red;
    transform: translate(-50%, -50%);
    display: none;
} */

/* Banner Section */
.banner-section{
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 98vh;
    position: relative;
    padding-top: 70px;
}
.banner-content{
    display: flex;
    flex-direction: column;
    padding-top: 70px;
}

.banner_title{
    color: white;
    font-size: 78px;
    line-height: 1.1;
    margin:0;
    margin-bottom:16px;
    max-width: 50%;
}

.banner_info{
  margin-bottom: 14px;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.5;
  color: white;
}

.banner_overview{
  font-size: 16.4px;
  color:white;
  line-height: 1.33;
  max-width: 50%;
}

.action-button-cont{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.action-button{
    border: none;
    background-color: white;
    padding: 8px 23px;
    margin-right:11px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-weight: 700;
    align-items: center;
    cursor: pointer;
}

.action-button:last-child{
    background-color: rgba(109, 109, 110, 0.7);
    color: white;
}

.banner_fadebottom{
    height: 120px;
    background:linear-gradient(180deg,
        transparent,
        rgba(37,37,37,.61),
        #141414
    ); 
    position: absolute;
    left:0;
    bottom: 0;
    width: 100%;

}

/* settings popup */
.settings-btn{
    position: relative;
}
.settings-popup{
    width:220px;
    display: none;
    position: absolute;
    top:50px;
    right:23px;
    background-color: black;
}
.settings-popup-innerdiv{
    display: flex;
    flex-direction: column;
    color:white;
    padding: 0px 20px;
    
}

.setting-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    
}

.setting-menu svg{
    color: #b3b3b3;
}

.setting-menu p{
    padding: 0px 8px;
    font-size: 13px;
}
.setting-menu p:hover{
   text-decoration: underline;
}
.settings-popup  button{
    background-color: black;
    color: white;
    border: none;
    border-top: 1px solid whitesmoke;
    width: 100%;
    padding: 10px;
}

 /* responsive css */
 @media screen and (max-width:767px) {
    .main-nav{
       display: none;
    }
    .banner_overview,.banner_title{
        max-width: 100%;
    }
 }